@font-face {
  font-family: Ost;
  src: url("../fonts/OstrichSans-Light.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centerPosition, .experience .linie, .experience h2 {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.a-style, .news a, .showroom .image-big .room-content a, .experience a {
  font-size: 3rem;
  letter-spacing: 10px;
  color: #fff;
  font-weight: bolder;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.a-style:hover, .news a:hover, .showroom .image-big .room-content a:hover, .experience a:hover {
  transform: scale(1.2);
}

.h2-styling, .news .images .text-and-img h2, .news h2, .showroom .image-big .room-content h2, .partnership h2, .currated h2, .experience h2 {
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: 20px;
  margin-bottom: 5vh;
}

.p-styling, .news p, .showroom .image-big .room-content p, .partnership p, .currated p {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
}

html {
  font-family: Ost;
  font-size: 62.5%;
  color: #fff;
}

img {
  max-width: 100%;
}

header {
  background: url("../img/FJ_home_slider2.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
header h1 {
  font-size: 20rem;
  text-align: center;
  padding-top: 20vh;
  width: fit-content;
}

.experience {
  background-color: #1a1a1a;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience h3 {
  font-size: 2rem;
  padding-top: 5vh;
  margin-bottom: 15vh;
  letter-spacing: 10px;
  font-weight: 100;
}
.experience h2 {
  top: 30vh;
  z-index: 3;
}
.experience img {
  width: 40vh;
  z-index: 2;
}
.experience .linie {
  top: 50vh;
  z-index: 1;
  height: 1px;
  width: 80vw;
  background-color: #fff;
}
.experience a {
  font-weight: bolder;
  margin-bottom: 15vh;
  padding-top: 5vh;
}
.experience a img {
  width: 3vw;
  padding-bottom: 1vh;
}

.currated {
  position: relative;
  background-color: #121212;
  text-align: center;
  padding-top: 10vh;
}
.currated .images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 5vh;
}
.currated .images img {
  width: 20vw;
}
.currated .images img:nth-of-type(2) {
  margin-bottom: 35vh;
}

.partnership {
  background-color: #1a1a1a;
  text-align: center;
}
.partnership p {
  margin-bottom: 5vh;
}
.partnership .anime {
  overflow: hidden;
  text-align: center;
}
.partnership .anime p {
  width: 700vw;
  display: inline-block;
  margin: 0;
  font-size: 5rem;
  letter-spacing: 25px;
  transition: 5s ease-in-out;
  animation: rolling 10s infinite alternate;
}
.partnership .anime p:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.8);
  animation: rolling 15s infinite alternate;
}
.partnership .anime p:nth-of-type(3) {
  color: rgba(255, 255, 255, 0.6);
  animation: rolling 20s infinite alternate;
}
.partnership .anime p:nth-of-type(4) {
  color: rgba(255, 255, 255, 0.4);
  animation: rolling 25s infinite alternate;
  margin-bottom: 20vh;
}

.showroom {
  background-color: #121212;
  padding: 10vh 15vw;
}
.showroom .image-big {
  background: url("../img/Imanoglou_About_Photo_4.jpg") no-repeat center;
  background-size: cover;
  height: 40vw;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20vh;
}
.showroom .image-big .room-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5vw;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 20vh;
}
.showroom .image-big .room-content h2 {
  position: absolute;
  right: -20vw;
  font-size: 8rem;
  letter-spacing: 50px;
  top: 5vh;
}
.showroom .image-big .room-content p {
  text-align: left;
  margin-bottom: 5vh;
}
.showroom .image-big .room-content a img {
  width: 3vw;
  padding-bottom: 1vh;
}

.news {
  background-color: #1a1a1a;
  text-align: center;
}
.news p {
  margin-bottom: 5vh;
}
.news .images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  padding-top: 5vh;
}
.news .images .img-wrapper {
  overflow: hidden;
}
.news .images img {
  width: 30vw;
  transition: 0.5s ease-in-out;
}
.news .images img:hover {
  transform: scale(1.2);
}
.news .images .text-and-img {
  margin-bottom: 10vh;
}
.news .images .text-and-img h2 {
  z-index: 2;
  width: fit-content;
  letter-spacing: 10px;
  margin: 0;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5vh;
}
.socials .contact {
  word-spacing: 20px;
}
.socials .contact a {
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  transition: 0.5s ease-in-out;
}
.socials .contact a:hover {
  transform: scale(1.2);
  text-decoration: underline 1px #000;
}
.socials .ig-fb {
  letter-spacing: 2vw;
}
.socials .ig-fb img:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}

@keyframes rolling {
  0% {
    transform: translateX(-150vw);
  }
  50% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(-150vw);
  }
}

/*# sourceMappingURL=style.css.map */
